# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribución / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
env/
venv/
ENV/
.venv/

# Cache de pytest
.pytest_cache/

# Configuración de IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db